<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
  <%= link_to root_path, class: 'navbar-item' do %>
      <img src="https://raw.githubusercontent.com/tingtinghsu/blog/gh-pages/public/favicon.ico" width="30" height="30">
  <% end %>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        首頁
      </a>

      <a class="navbar-item">
        文章
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
          你好！
          <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                  <%= current_user.email %>
              </a>
      
              <div class="navbar-dropdown">              
                <a class="navbar-item">
                  <%= link_to "+ 新增故事", new_story_path, class: 'navbar-item' %>
                </a>
                <a class="navbar-item">
                  <%= link_to "故事列表", stories_path, class: 'navbar-item' %>                
                </a>                                
                <hr class="navbar-divider">
                  <%= link_to "個人資料", edit_user_registration_path, class: 'navbar-item is-primary', method: 'get'%>  
                <a class="navbar-item">
                  聯絡我們
                </a>
                  <%= link_to "登出", destroy_user_session_path, class: 'navbar-item is-danger is-light', method: 'delete', data: {confirm: '是否確定登出?!'} %>         
              </div>
            </div>
          
          </a>
          <% else %>
            <%= link_to "註冊", new_user_registration_path, class: 'button is-primary', method: 'get'%>
            <%= link_to "登入", new_user_session_path, class: 'button is-light', method: 'get'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>