<h2 class="title">修改個人資料</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <div class="control">
        <%= f.label :username, '使用者帳號' %><br />
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class: 'input' %>    
    </div>
    <p class="help">
      例:tingtinghsu
    </p>
  </div>

  <div class="field">
    <div class="control">
        <%= f.label :intro, '個人簡介' %><br />
        <%= f.text_area :intro, autocomplete: "intro", class: 'textarea', rows: 5 %>    
    </div>
  </div>

  <div class="field">
    <div class="control">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email", class: 'input' %>    
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
<hr>
<div class="title">修改密碼 </div>
<i>(如果不想修改密碼，以下請保持空白)</i>
  <div class="field">
    <div class="control">
      <%= f.label :password, '新密碼' %> <i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
  </div>


  <div class="field">
    <div class="control">
      <%= f.label :password_confirmation, '再次確認新密碼' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: 'button is-primary is-medium' %>
  </div>
<% end %>

<%= link_to "Back", :back %>
