<% if story.errors.any? %>
  <div class="notification is-danger"> 
    <%= story.errors.full_messages.to_sentence %>
  </div>
<% end %>
<%= form_for(story) do |form| %>
  <div class="field">
    <%= form.label :title, '標題' %>
    <%= form.text_field :title, class: 'input is-primary is-medium' %> </br>
  </div>
  <div class="field">
    <%= form.label :content, '內文' %>
    <%= form.text_area :content, rows: 10, class: 'textarea is-primary is-medium' %>
  </div>
  <div class="field">
    <%= form.submit '儲存草稿', name: 'save_as_draft', class: 'button is-medium' %>
    <%= form.submit '發佈文章', name: 'publish', class: 'button is-warning is-medium' if story.may_publish? %>

    <%= form.submit '下架文章', name: 'unpublish', class: 'button is-danger is-medium' if story.may_unpublish? %>

    <%= link_to '取消編輯', stories_path, class: 'button is-info is-medium' %> 
  </div>
<% end %>