<h1 class="title">我的故事</h1>
<hr>
<% if flash[:notice].present? %>
  <div class="notification is-warning">
    <button class="delete"></button>
    <%=flash[:notice]%>
  </div>
<% end %>
<% @stories.each do |story| %>

  <div class="content">
    <h3 class="title">
      <%= link_to story.title, edit_story_path(story), class: 'has-text-grey-darker' %>
      <%= content_tag :span, '已發佈', class: 'tag is-primary' if story.published? %>
    </h3>
    <p>
      <%=story.content %>
    </p>
    <p>Last edited: <%= time_ago_in_words(story.updated_at) %> 
      <%= link_to '編輯', edit_story_path(story), class: 'button is-text is-small' %>
      <%= link_to '刪除', story, method: 'delete', class: 'button is-danger is-small', data: { confirm: '確認刪除!?'} %>
    </p>
    <hr>
  </div>

<% end %>
